[Unit]
Description=PyHSS Diameter Service
PartOf=pyhss.service


[Service]
User=root
WorkingDirectory=/root/pyhss/services/
ExecStart=/root/pyhss/project_venv/bin/python diameterService.py
Restart=always

[Install]
WantedBy=pyhss.service