[Unit]
Description=PyHSS Log Service
PartOf=pyhss.service


[Service]
User=root
WorkingDirectory=/root/pyhss/services/
ExecStart=/root/pyhss/project_venv/bin/python logService.py
Restart=always

[Install]
WantedBy=pyhss.service