[Unit]
Description=PyHSS Metric Service
PartOf=pyhss.service


[Service]
User=root
WorkingDirectory=/root/pyhss/services/
ExecStart=/root/pyhss/project_venv/bin/python3.11 metricService.py
Restart=always

[Install]
WantedBy=pyhss.service